* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#showcase {
    background-image: url('/IP3/assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#showcase h1 {
    color: white;
}
#showcase p {
    color: white;
    font-size: 15px;
}